* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: rgb(207, 203, 203);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px;
    color: white;
    width: 75%;
    background-color: rgb(88, 90, 88);
    justify-content: center;
    border: 4px solid white;
    border-radius: 10px;
    font-size: 100%;
    border: 3px solid rgb(251, 252, 253);
}

#texto {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    color: white;
}

input {
    border-radius: 10px;
    font-size: 120%;
    color: white;
    border-color: white;
    padding: 5px;
    border: 2px solid;
    background-color: rgb(207, 203, 203);
}

#weather {
    margin-top: 4%;
    color: rgb(252, 254, 253);
    background-color: rgb(88, 90, 88);
    border-radius: 5px;
    padding: 8px;
}

#map {
    width: 60%;
    height: 50%;
    margin: 30px 0 0 0;
}

/* Estilos para pantallas medianas (tabletas) */
@media (max-width: 768px) {
    header {
        width: 90%;
        font-size: 90%;
    }

    #map {
        width: 80%;
        height: 50%;
    }

    input {
        font-size: 100%;
        width: 80%;
    }

    #texto {
        margin-top: 5%;
    }
}

/* Estilos para pantallas pequeñas (móviles) */
@media (max-width: 480px) {
    header {
        width: 95%;
        font-size: 80%;
        padding: 8px;
    }

    #map {
        width: 100%;
        height: 250px;
    }

    input {
        font-size: 90%;
        width: 90%;
    }

    #texto {
        margin-top: 5%;
    }
}

@media (min-width: 1000px) {
    header {
        width: 95%;
        font-size: 80%;
        padding: 8px;
    }

    #map {
        width: 100%;
        height: 250px;
    }

    input {
        font-size: 90%;
        width: 55%;
    }

    
}